/* hero section */
.detail-hero {
  width: 100%;
  object-fit: cover;
}
.detail-hero img {
  width: 100%;
  object-fit: cover;
}
/* sizing the image on the overlaping card*/
.overlap-container img {
  width: 100%;
  object-fit: cover;
}
.overlap-container .image {
  width: 75%;
  display: flex;
  object-fit: cover;
  height: 100%;
}
/* card in front of hero section */
.overlap-card-container {
  padding-top: 8rem;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.overlap-card-container .container {
  display: flex;
  height: 16rem;
}

.overlap-card-container .overlap-container {
  width: 80%;
  height: 17rem;
}

/* card detail information */
.detail-title-container {
  background: #f6f6f6;
  width: 20%;
  padding: 2rem;
  font-weight: bold;
  color: #334553;
  font-size: 13px;
}
.detail-title-container .web {
  margin-top: 0.5rem;
  color: #93999d;
  font-size: 12px;
  font-weight: 100;
}
.detail-title-container .icon-container {
  margin-top: 1.3rem;
  display: flex;
  width: 3rem;
  justify-content: space-between;
}
.detail-title-container .icon-container img {
  width: 1rem;
}
.detail-title-container .button {
  padding: 0.5rem 1rem;
  color: #ffffff;
  border-radius: 2rem;
  background: #ff843e;
  width: 100%;
  margin-top: 2rem;
  margin-right: 3rem;
}

/* section two in overlay card */
.more-info {
  background: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  padding: 4rem;
}
.more-info img {
  width: 1rem;
  margin-right: 1rem;
}

.more-info .info {
  background: white;
  display: flex;
}

.more-info .left {
  border-right: 2px dashed #e6e6e6;
}
.more-info .right {
  border-left: 2px dashed #e6e6e6;
  padding: 0rem 4rem;
}

.more-info .info p {
  font-size: 0.8rem;
}

.more-info .title {
  color: #334553;
}
.more-info .date {
  margin-top: .3rem;
  color: #93999d;
}

/* about */
.about{
  background: white;
  padding: 0rem 4rem;
  display: flex;
  justify-content: space-around;
}
.about .title-container-profile{
  padding: 2rem 0rem;
  width: 100%;
  border-top: 2px dashed #e6e6e6;
}

.about .title-container-profile .description{
  font-size: .8rem;
  margin-top: .7rem;
}

.about .title-container-profile a{
  margin-top: 1rem;
  font-size: .8rem;
  text-decoration: none;
  color: #518FEC;
}

/* profile */
.profile{
  background: white;
  padding: 0rem 4rem;
  display: flex;
  justify-content: space-around;
}
.profile .title-container-profile{
  padding: 2rem 0rem;
  width: 100%;
  border-top: 2px dashed #e6e6e6;
}

.profile .title-container-profile .description{
  font-size: .8rem;
  margin-top: .7rem;
}

.profile .title-container-profile a{
  margin-top: 1rem;
  font-size: .8rem;
  text-decoration: none;
  color: #518FEC;
}
.profile .rounded-container{
  display: flex;
}

.profile .rounded-container img{
  margin-top: 1rem;
  margin-right: 4rem;
  width: 8rem;
  padding: 1rem;
  border-radius: 50%;
  background: #EFEFEF;
}
.profile .button{
  padding: 0.5rem 1rem;
  color: #ffffff;
  border-radius: 2rem;
  background: #ff843e;
  width: 15%;
  font-size: .8rem;
  margin-top: 2rem;
  margin-right: 3rem;
}

/* related event */
.about .card-hero-container{
  border: 1px solid #E6E6E6;
  border-radius: 0.3rem;
}
