* {
  margin: 0;
  padding: 0;
  color: #333333;
  font-family: "roboto", Arial, Helvetica, sans-serif;
}
/* navbar */
.nav-bar {
  z-index: 1;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
  top: 0;
  position: sticky;
  background: #ffffff;
}
.nav-bar .container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 0.5rem 0;
}
/* search styling */
.nav-bar .search {
  background: #f6f6f6;
  padding: 0.5rem;
  border-radius: 0.4rem;
  display: flex;
  gap: 0.5rem;
  width: 35%;
}
.nav-bar .search img {
  width: 1rem;
  height: 1rem;
  margin-top: 0.1rem;
}

.nav-bar .search input {
  border-style: none;
  outline: none;
  width: 100%;
  display: flex;
  height: 100%;
  background: #f6f6f6;
}

/* right side of the navbar */
.link {
  display: flex;
  gap: 0.9rem;
}

.link .pages li {
  list-style: none;
}

.nav-bar .pages {
  display: flex;
  gap: 0.5rem;
}

/* nav bar button */
.nav-bar .button-container {
  display: flex;
  gap: 1rem;
}

.nav-bar .orange-button {
  padding: 0.5rem 1rem;
  color: #ffffff;
  border-radius: 2rem;
  background: #ff843e;
}

.nav-bar .border-button {
  padding: 0.5rem 1rem;
  color: #ff843e;
  border-radius: 2rem;
  border: 0.1rem solid #ff843e;
}

.nav-bar .orange-button {
  padding: 0.5rem 1rem;
  color: #ffffff;
  border-radius: 2rem;
  background: #ff843e;
}

/* button */
.button {
  width: 8rem;
  font-weight: 900;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* link */
.nav-bar .link .pages {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar .link {
  gap: 2rem;
}
.nav-bar .pages {
  gap: 2rem;
}

/* vertical line */
.vertical-line {
  width: 0.1rem;
  background: #e6e6e6;
}

/* section two */
.hero-section {
  background: #1a2541;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
}

.hero-section .hero-container {
  width: 90%;
  display: flex;
  padding: 2rem 0rem;
}

/* form at hero section */
.hero-section .hero-form {
  justify-content: space-between;
}

.hero-section .hero-form {
  background: white;
  width: 30%;
  padding: 4rem;
  border-radius: 0.5rem;
}

.hero-section .hero-form input {
  width: 90%;
}

.hero-section .hero-form .drop-down-container {
  padding: 0.5rem 0.5rem;
  justify-content: space-between;
  display: flex;
  align-items: center;
  border-radius: 0.3rem;
  border: 0.1rem solid #e6e6e6;
  margin-top: 0.4rem;
}

.hero-section .hero-form .drop-down-container input {
  height: 100%;
  justify-content: space-between;
  border-style: none;
  outline: none;
  width: 100%;
  display: flex;
  height: 100%;
  background: white;
}

.hero-section .hero-form .drop-down-container img {
  height: 0.3rem;
  margin-right: 0.5rem;
  justify-content: space-between;
}

.hero-section .label-input {
  margin-top: 1.5rem;
}

.hero-section .label-input label {
  font-size: 0.8rem;
  margin-bottom: 5rem;
}

.hero-section .orange-button {
  padding: 0.5rem 1rem;
  color: #ffffff;
  border-radius: 2rem;
  background: #ff843e;
  width: 100%;
  margin-top: 2rem;
}

/* input for search */
.hero-section .hero-form .drop-down-container-search {
  padding: 0.5rem 0.5rem;
  justify-content: space-between;
  display: flex;
  align-items: center;
  border-radius: 0.3rem;
  border: 0.1rem solid #e6e6e6;
  margin-top: 0.4rem;
}

.hero-section .hero-form .drop-down-container-search input {
  height: 100%;
  justify-content: space-between;
  border-style: none;
  outline: none;
  width: 100%;
  display: flex;
  height: 100%;
  background: white;
}

.hero-section .hero-form .drop-down-container-search img {
  height: 0.7rem;
  margin-left: 0.2rem;
  justify-content: space-between;
}

/* search for date */
.hero-section .hero-form .drop-down-container-date {
  padding: 0.5rem 0.5rem;
  justify-content: space-between;
  display: flex;
  align-items: center;
  border-radius: 0.3rem;
  border: 0.1rem solid #e6e6e6;
  margin-top: 0.4rem;
}

.hero-section .hero-form .drop-down-container-date input {
  height: 100%;
  justify-content: space-between;
  border-style: none;
  outline: none;
  width: 100%;
  display: flex;
  height: 100%;
  background: white;
}

.hero-section .hero-form .drop-down-container-date .date {
  height: 0.7rem;
  margin-left: 0.2rem;
  justify-content: space-between;
}

.hero-section .hero-form .drop-down-container-date .arrow {
  height: 0.3rem;
  margin-left: 0.2rem;
  justify-content: space-between;
}
.hero-title {
  color: #ffffff;
}

/* right side */
.hero-card {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-left: 4rem;
  width: 65%;
}

.hero-card .wrapper {
  width: 100%;
}

.hero-card .card-hero-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* styling for card */
.hero-section .card-hero-container {
  background: #ffffff;
  width: 19rem;
  margin-top: 1rem;
  border-radius: 0.3rem;
}
.hero-section a{
  text-decoration: none;
}

.card-hero-container img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-radius: .2rem .2rem 0rem 0rem;
}

.card-hero-container .text-container {
  padding: 1rem;
  font-size: 14px;
}

.card-hero-container .text-container .title-container {
  font-weight: bold;
  color: #334553;
  font-size: 14px;
}

.card-hero-container .text-container .description {
  color: #93999d;
  font-size: 14px;
}
.card-text {
  margin-top: .3rem;
}

/* second section */
.section-two a{
  text-decoration: none;
}
.section-two {
  display: flex;
  justify-content: center;
}
.section-two-container {
  padding: 2rem 2rem;
  width: 90%;
}

.section-two .card-hero-container {
  background: #ffffff;
  width: 23rem;
  margin-top: 1rem;
  border-radius: 0.3rem;
  border: 1px solid #e6e6e6;
}

/* grid styling in section two */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.grid-item {
  width: 23rem;
}

/* footer */
footer{
  background: #F6F6F6;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  font-size: .7rem;
}
.copyright{
  color: #93999D;
  display: flex;
  align-items: center;
}

/* card event*/

